.personality-overlay {
  width: 100%;
  height: 300px;
  float: left;
  background: #3f4199;
}

.statsbar {
  width: 100%;
  height: 100px;
  margin-top: 120px;
}

.stat-one {
  width: 25%;
  height: 100px;
  float: left;
}

.stat-two {
  width: 25%;
  height: 100px;
  float: left;
}

.stat-three {
  width: 25%;
  height: 100px;
  float: left;
}

.stat-four {
  width: 25%;
  height: 100px;
  float: left;
}

.stat-number {
  width: 100%;
  height: 50px;
  float: left;
  text-align: center;
  color: rgb(207, 173, 23);
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
}

.stat-title {
  width: 100%;
  height: 50px;
  float: left;
  text-align: center;
  color: #FFF;
  font-size: 150%;
  font-weight: 100;
  text-transform: uppercase;
}

hr.style-three {
  height: 30px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.style-three:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

#infinitySym {
  width: 50%;
  height: 73%;
  margin-left: 20%;
}